# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Lost and Found Game.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Oleg\GGJ\Lost and Found GGJ Online\Lost and Found Game\.idea\.idea.Lost and Found Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
